<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="tab-content" id="myTabContentMD">
                <div class="tab-pane  active" id="aboutUs-md" role="tabpanel" aria-labelledby="aboutUs-tab-md">
                    <h5 class="card-title">About Us</h5>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the panel title and make up the
                                bulk of the
                                panel's content.</p>
                            <a class="card-link">Card link</a>
                            <a class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="advisory-md" role="tabpanel" aria-labelledby="advisory-tab-md">
                        <h5 class="card-title">Team</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="card">
                                        <div class="view overlay">
                                            <img class="card-img-top"
                                                src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg"
                                                alt="Card image cap">
                                            <a href="#!">
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up
                                                the bulk of the card's
                                                content.</p>
                                            <a href="#" class="btn btn-primary">Button</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2"></div>
                                <div class="col-sm-5">
                                    <div class="card">
                                        <div class="view overlay">
                                            <img class="card-img-top"
                                                src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                                                alt="Card image cap">
                                            <a href="#!">
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up
                                                the bulk of the card's
                                                content.</p>
                                            <a href="#" class="btn btn-primary">Button</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <!-- <div class="card-header">
                    Featured
                </div> -->
                <ul class="list-group nav list-group-flush  rgba-grey-dark" role="tablist">
                    <li class="list-group-item nav-item ">
                        <a class="nav-link active " id="aboutUs-tab-md" data-toggle="tab" href="#aboutUs-md" role="tab"
                            aria-controls="aboutUs-md" aria-selected="true">About Us</a>
                    </li>
                    <li class="list-group-item">
                        <a class="nav-link  " id="advisory-tab-md" data-toggle="tab" href="#advisory-md" role="tab"
                            aria-controls="advisory-md" aria-selected="true">Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>