<div class="container">

    <div class="row">
        <div class="col-sm-5 col-sm-offset-4" style="margin-top:-31px;">

            <div class="form-box">
                <div *ngIf="!verifyCheck">
                    <div class="form-bottom">
                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onforgotPassword()" name="form1">

                            <div class="md-form form-group">
                                <label for="email">Email</label>
                                <input type="text" formControlName="email" class="form-control"
                                    [ngClass]="{ 'is-invalid': lsubmitted && f.email.errors }" />
                                <div *ngIf="lsubmitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                </div>
                            </div>
                            <div class="form-group alert alert-danger" role="alert" *ngIf="passwordErrorMsg">{{passwordErrorMsg}}
                            </div>

                            <div class="row d-flex align-items-center mb-4">
                                    <div class="text-center mb-3 col-md-12 form-group">
                                      <button [disabled]="loadingL" class="btn btn-pink btn-rounded btn-block btn-rounded z-depth-1">
                                        <span *ngIf="loadingL" class="spinner-border spinner-border-sm mr-1"></span>
                                        Send Code</button>
                                    </div>
                            </div>

                        </form>
                        <p>or <a href="#/">Login</a></p>
                        <div *ngIf="sendStatus">
                            <p>A verification code has been sent to your mail ID. Check your mail.</p>
                            <label class="sr-only" for="form-email">Enter code</label>
                            <input type="text" name="form-username" [(ngModel)]="code"
                                placeholder="Enter Code" class="form-username form-control" required>
                            <br>
                            <div class="form-group alert alert-danger" ng-show="verifyErrorMsg">
                                <p>{{verifyErrorMsg}}</p>

                            </div>
                            <div class="form-group">
                                <a class="btn btn-primary" (click)="resetPassword()">Verify</a>
                            </div>
                        </div>

                    </div> <!-- form bottom -->
                </div>
            </div> <!-- form box -->

            <div class="form-bottom" *ngIf="verifyCheck">
                <div class="form-group">
                    <label class="sr-only" for="form-email">New Password</label>
                    <input type="password" [(ngModel)]="password" placeholder="New Password"
                        class="form-username form-control" required>

                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-email">Confirm Password</label>
                    <input type="password" [(ngModel)]="confirmPassword" placeholder="Confirm Password"
                        class="form-username form-control" required>
                </div>
                <div class="form-group">
                    <a class="btn btn-success" (click)="resetPassword()">Change password</a>
                </div>
                <div class="form-group">

                    <p ng-show="passwordUpdateMsg">{{passwordUpdateMsg}} <a href="#/">Login</a></p>
                </div>
            </div>
        </div><!--  form box -->


    </div> <!-- main form box ends -->



</div>

