<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    Patna
                </div>
                <div class="card-body">
                    <ul>
                        <li><strong>Devvrat Priyadarshi</strong>+917909076207</li>
                        <li><strong>Devvrat Priyadarshi</strong>+917909076207</li>
                    </ul>

                </div>
                <div class="card-header">
                    Bangalore
                </div>
                <div class="card-body">
                        <ul>
                            <li><strong>Devvrat Priyadarshi</strong>+917909076207</li>
                            <li><strong>Devvrat Priyadarshi</strong>+917909076207</li>
                        </ul>
    
                    </div>
                <div class="card-header">
                    Hyderabad
                </div>
                <div class="card-body">
                        <ul>
                            <li><strong>Devvrat Priyadarshi</strong>+917909076207</li>
                            <li><strong>Devvrat Priyadarshi</strong>+917909076207</li>
                        </ul>
    
                    </div>
            </div>
        </div>
    </div>
</div>